<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Todo Application{% endblock title %}</title>
  </head>
  <body>
    <header>
      {% if request.user.is_authenticated %} {% include "partials/navbar.html"%} {% endif %}
    </header>
    {% include "partials/messages.html" %} 
    
    {% block content %} 
    
    {% endblock content %}
    <footer>Footer</footer>
  </body>
</html>
