{% extends "base.html" %}

 {% block title %}Dashboard{% endblock title %} 

{% block content %}

<h2>My Todos</h2>
 <form action="" method="get">
    <input type="text" name="search" id="" placeholder="Search todo..." value="{{ request.GET.search }}">

    <select name="status" id="">
        <option value="">All</option>
        <option value="pending" {% if request.GET.status == "pending" %}selected{% endif %}>Pending</option>
        <option value="complete" {% if request.GET.status == "complete" %}selected{% endif %}>Completed</option>
    </select>
    <button type="submit">Filter</button>
    <a href="{% url "dashboard" %}">Reset</a>
 </form>
<hr>

<a href="{% url "addTodo" %}">Add Todo</a>

  {% if todos %} 
  <table border="1" cellpadding="8" cellspacing="0">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Staatus</th>
        <th>Created</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todos %}
        <tr>
          <td>{{ todo.title | capfirst }}</td>
          <td>{{ todo.description|truncatechars:40 }}</td>
          <td>
            <form action="{% url "toggleStatus" todo.pk %}" method="post">
              {% csrf_token %}
              {% if todo.status ==  "pending" %}
                <button style="color: orange; font-weight: bold">Pending</button>
              {% else %}
                <button style="color: green; font-weight: bold">Complete</button>
              {% endif %}
              </form>
          </td>
          <td>{{ todo.created_at|date:"d M Y" }}</td>
          <td>
            <a href="{% url "editTodo" todo.pk %}">Edit</a>
            <a href="{% url "deleteTodo" todo.pk %}">Delete</a>
          </td>
        </tr>
        {% endfor %} 
    </tbody>
  </table>
 
<!-- Pagination -->
<div style="margin-top: 15px;">
  {% if todos.has_previous %}
  <a href="?page={{ todos.previous_page_number }}">Previous</a>
  {% endif %} 
  Page {{ todos.number }} of {{ todos.paginator.num_pages }} 
  {% if todos.has_next %}
  <a href="?page={{ todos.next_page_number }}">Next</a>
  {% endif %}
</div>

{% else %}
<h3>No Todo yet</h3>
{% endif %}

{% endblock content %}
